<?xml version="1.0" encoding="UTF-8" ?>
<suite name="UI Testing Playground Test Suite">
    <test name="UI Automation Test cases-1">
        <classes>
            <class name="com.ui.elements.UiElementsTest1"/>
        </classes>
    </test>
    <test name="UI Automation Test cases-2">
        <classes>
            <class name="com.ui.elements.UiElementsTest2"/>
        </classes>
    </test>
    <test name="UI Automation Test cases-3">
        <classes>
            <class name="com.ui.elements.UiElementsTest3"/>
        </classes>
    </test>
    <test name="UI Automation Test cases-4">
        <classes>
            <class name="com.ui.elements.UiElementsTest4"/>
        </classes>
    </test>
    <test name="UI Automation Test cases-5">
        <classes>
            <class name="com.ui.elements.UiElementsTest5"/>
        </classes>
    </test>
    <test name="UI Automation Test cases-6">
        <classes>
            <class name="com.ui.elements.UiElementsTest6"/>
        </classes>
    </test>
</suite>
